body{
    text-align: center; background-color: lightgreen; display: flex;
    flex-direction: column; align-items: center; justify-content: center; min-height: 100vh;
}
h1{
    font-size: xx-large; text-align: center; position: relative; margin-top: 20px;
}
a{
    color: black;
}
hr{
    border-top: 3px solid black !important;
    width: 100%;
}
.content{
    max-width: 800px; 
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: auto;
    flex-grow: 1;
    margin: 50px auto;
}
footer{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.img-thumbnail {
    width: 150px; 
    height: 150px;
}
.top{
    margin-top: 20px;
}
h2{
    font-size: large;
}